label,
input,
select {
  display: block;
}

h1 {
  text-align: center;
  color: rgb(255, 81, 0);
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  src: url('BrandonGrotesque-Regular.woff2') format('woff2');
}

form {
  width: 50%;
  margin: auto;
}

input {
  width: 100%;
  line-height: 2.5em;
  padding-left: 10px;
  border-radius: 0.45em;
  border: 1px lightgrey solid;
}

select {
  width: 100%;
  background-color: rgb(240, 239, 239);
  height: 3em;
  padding-left: 10px;
  border-radius: 0.5em;
}

label {
  padding: 10px 0 3px 10px;
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 80%;
  src: url('BrandonGrotesque-Medium.woff2') format('woff2');
}

button {
  background-color: rgb(255, 81, 0);
  color: white;
  border-width: 0;
  border-radius: 2em;
  padding: 0.7em 1.4em;
  font-family: 'AtlasGrotesk';
  font-style: normal;
  font-weight: 300;
  src: url('AtlasGrotesk-Light-Web.woff2') format('woff2');
  margin-top: 8px;
}

div {
  text-align: right;
}
