.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.column-full {
  max-width: 100%;
}

.column-third {
  max-width: calc(100% / 3);
}

.column-twothirds {
  max-width: calc(200% / 3);
}

.column-fourth {
  max-width: calc(100% / 4);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
}
