.blue {
  background-color: rgb(41, 68, 99);
  color: white;
  font-family: 'Avenir', sans-serif;
  border-width: 0;
  border-radius: 5px;
}

.get-started {
  padding: 15px 40px;
}

.contact-us {
  padding: 10px 15px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-fourth {
  width: 25%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header,
.menu-bar,
h5 {
  display: inline-block;
}

.header {
  color: rgb(10, 66, 101);
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: 100;
}

.menu-bar {
  color: rgb(193, 193, 193);
  font-family: 'Avenir', sans-serif;
}

.EMR {
  padding: 55px 53px;
  max-width: 50%;
}

.height {
  height: 65px;
}

.hero-text {
  line-height: 1.75;
}

.foot {
  padding-left: 40px;
}

.footer {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
  padding-right: 20px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-family: 'Tiempos Headline', sans-serif;
}

h3 {
  font-family: 'Tiempos Headline', sans-serif;
  font-size: 160%;
}

h4 {
  font-family: 'Avenir', sans-serif;
  line-height: 1.5;
}

h5 {
  font-family: 'Avenir', sans-serif;
  padding-left: 20px;
}

p {
  font-family: 'Avenir', sans-serif;
  font-size: 80%;
}

#nav-bar {
  border-bottom: 1px lightgrey solid;
}

.darken {
  background-color: rgba(100, 100, 100, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hero-image {
  background-image: url('images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 50px 0;
  position: relative;
}

#locations {
  background-color: rgb(250, 250, 250);
  border-bottom: 1px rgb(237, 238, 241) solid;
  color: rgb(110, 110, 110);
  text-align: center;
  line-height: 1.5;
  padding: 20px 0 40px 0;
}

#learn-more {
  color: rgb(110, 110, 110);
  align-items: center;
  padding: 15px 60px;
}

#contact-info {
  background-color: rgb(82, 83, 81);
  color: white;
  padding: 100px 70px;
}

#footer {
  background-color: rgb(250, 250, 250);
  color: rgb(110, 110, 110);
  padding: 20px 0;
}
